

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body{
 	font-size: 15px;
 	line-height: 20px;
	color: #555;
 	font-family: 'PT Sans', sans-serif;
 }
 div, ul li, ol li{
 	line-height: 27px;
 }
 a{
 	color: #FF0000;
 }
 a:hover{
 	color: #771111;
 }
 a:hover img{
    -webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, .5);
    box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, .5);

 }
 a:hover img.no-shadow{
-webkit-box-shadow:  none;
    box-shadow:  none;

 }
.jumbotron{
	padding: 0 20px 0px 20px;
	background: #FFF;
}
.jumbotron .container{
	padding:0;
	text-align: center;
}
.jumbotron h1{
	font-family: 'PT Sans', sans-serif;
	font-weight: 600;
	color: #771111;
	text-transform: uppercase;
	font-size: 22px;
	padding:0 0 20px 0;
	margin:8px 0 0 0;
	line-height: 27px;
}
.jumbotron img{
	margin:0 0 15px 0;
	max-width: 600px;
}
#ored{
	margin-bottom: 14px;
}

h3{
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	background: #771111;
	color: #FFF;
	padding: 8px 26px 8px 16px;
	min-width: 209px;
	line-height: 23px;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
}
.case-study{
	background: #EEE;
	margin-top:20px;
	color: #333;
	padding: 20px;
}
.case-study .inner{
	padding:10px 10px 10px 0;
}
.case-study p{
}
.case-study img{
	margin: 0 0 0 0;
	padding:0 0 0 10px;
}
h6{
	margin:0 0 2px 0;
}
h5{
	color: #771111;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
h5 a{
	color: #FF0000;
	padding-left: 5px;
}
ul{
	font-weight: 400;
	margin:0 0 16px 16px;
}
ol{
	font-weight: 400;
	margin:0 0 16px 20px;
}
li{
	padding:0;
	margin:0;
}
footer{


}

#footer_inner div{
	background-color: black;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

footer p{
	color:#ccc; 
	padding-right:17px; 
	text-align:right; 
	margin:0; 
	letter-spacing:-.5px; 
	line-height:16px;
}








